body {
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
}
div {
	text-align: center;
}
input {
	font-size: 20px;
	padding: 1px 3px;
	text-align: center;
	width: 30px;
	border-radius: 3px;
	border: 1px solid grey;
	font-family: 'Rubik', sans-serif;
}
input::-moz-placeholder {
	color: black;
}
input:disabled {
	border-color: transparent!important;
	background: none!important;
	color: black;
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
}
svg {
    position: relative;
    z-index: 1000;
}
svg path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	-webkit-animation: dash 2s linear forwards;
	-moz-animation: dash 2s linear forwards;
	-o-animation: dash 2s linear forwards;
	animation: dash 2s linear forwards;
	fill: none;
	stroke: #a95880;
	stroke-width: 2;
}
svg polyline {
	fill: none;
	stroke: #a95880;
	stroke-width: 1;
}
@-webkit-keyframes dash {
	from {
		stroke-dashoffset: 1000;
	}
	to {
		stroke-dashoffset: 0;
	}
}



/* Блок с примером */
#task {
	margin: 40px auto;
	padding: 20px 40px;
	font-size: 40px;
}
#task span {
	padding: 1px 3px;
}
#task .invalid {
	background-color: #fdaa47;
	border-radius: 3px;
}
#sum {
	color: black;
	font-size: 40px;
	width: 45px;
}

/* Блок со стрелками */
#arrows {
	width: 875px;
	margin: 0 auto;
}
#arrows form {
	position: relative;
	height: 125px;
}
.arrows {
	position: absolute;
	bottom: -25px;
	padding-left: 36px;
}
.arrow {
	display: inline-block;
	vertical-align: bottom;
}
.arrows .next {
	display: none;
	margin-left: -5px;
}